@using SoftwareQAProject1
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software QA</h1>
    <p class="lead">Assignment 3-4</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("BMI Calculator", "Index", "Bmi")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Retirement Calculator", "Index", "Retirement")</h2>
    </div>
</div>